html, body, #root {
  height: 100%;
  margin: 0;
}

.container-fluid {
  height: 100%;
}

.row.h-100 {
  height: 100%;
}

.col-auto {
  height: 100%;
  padding-right: 0;
  padding-left: 0;
}

.navbar {
  height: 100%;
}
